<div class="section">
    <h1>Public Recipes</h1>
    <%@public_recipes.each do |recipe|%>
        <div class="public_recipe">
            <div class="">
                <p><%= link_to "#{recipe.name}", recipe_path(recipe) %></p>
                <p>By: <%= recipe.name %></p>
            </div>
            <div class="">
                <p>Total food items: <%= @public_recipes.count %> </p>
                <p>Total price: </p>
            </div>
        </div>
    <%end%>
</div>