<h1>Recipe foods</h1>

<div>
    <% if @recipe_foods.empty? %>
        <h2>Empty!</h2>
    <%else%>
        <% @recipe_foods.each do |recipe_food| %>
            <div>
                <p>
                    <strong>Quantity:</strong>
                    <%= recipe_food.quantity %>
                </p>
                <p>
                    <strong>Recipe:</strong>
                    <%= recipe_food.recipe_id %>
                </p>
                <p>
                    <strong>Food:</strong>
                    <%= recipe_food.food_id %>
                </p>
            </div>
        <%end%>
    <% end %>
</div>

<p><%= link_to "New recipe food", new_recipe_food_path %></p>