/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* My styles */

 .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 5px 5px 7px 5px;
    border: 1px solid black;
}

.recipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recipe li {
    font-size: 24px;
}

.recipe li:first-child {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.recipe li a {
    text-decoration: none;
    font-size: 32px;
}

.recipe li:first-child a:last-child {
    padding: 2px;
    width: 21.5%;
    margin-top: 5px;
    font-size: 20px;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(107, 6, 6);
}

.public_recipe {
    display: grid;
    font-size: 24px;
    padding-left: 10px;
    border: 1px solid black;
    grid-template-columns: repeat(2, 1fr);
}
